<div class="jumbotron">
  <h1 class="display-4">2-Sample Scatter Plot</h1>
  <p class="lead">Select two datasets to create a scatter plot. Use gene filters to highlight selected gene classes.</p>
</div>
<script>
    let curr_selected = null
    function geneListOnClick(){
        let fileA = d3.select('#groupA').html()
        let fileB = d3.select('#groupB').html()

        let curr_selected = d3.select('.gene_file_list').select('select option:checked').text().toLowerCase()
        let color = d3.select('.color_list').select('select option:checked').text().toLowerCase()
        console.log(curr_selected)


        if(curr_selected in genelist_cache){
            console.log(genelist_cache[curr_selected].length);
            let filtered = data_cache[fileA+'|'+fileB].filter(datum => genelist_cache[curr_selected].includes(datum.gene))
            highlightCircles(filtered, curr_selected, color)
        }else{
            d3.json('/getgenelist/'+curr_selected).then(function(data){
                console.log(data.length);
                genelist_cache[curr_selected] = data;
                let filtered = data_cache[fileA+'|'+fileB].filter(datum => genelist_cache[curr_selected].includes(datum.gene))
                highlightCircles(filtered, curr_selected, color)
            })
        }

    }

    let curr_selected_type = null
    function geneTypeOnClick(d,selected_gene_type){
        console.log(d,selected_gene_type)
        let fileA = d3.select('#groupA').html()
        let fileB = d3.select('#groupB').html()
        let is_checked = d3.select('#'+selected_gene_type).property('checked')
        console.log(is_checked, selected_gene_type)
        if(is_checked){
            d3.selectAll('.gene_types').property('checked', false)
            d3.select('#'+selected_gene_type).property('checked', true)
            curr_selected_type = selected_gene_type
            plotScatter(data_cache[fileA+'|'+fileB].filter(d => d.type===selected_gene_type), 'genes')
        }else{
            curr_selected_type = null;
            plotScatter(data_cache[fileA+'|'+fileB], 'genes');
            $('#processingModal').modal('hide')
        }
    }
</script>
{% include "selection_templates/pair_selection_dev.html" %}

<div class="input-group mt-3">
    <div>
        <select class="form-control form-select" id="scale_selection">
        <option value="log">Log Scale</option>
        <option value="linear">Linear Scale</option>

    </select>
    </div>

    <span class="btn btn-primary form-control mb-5" onclick="plotScatterMain()">Create Plot</span>
</div>

<div id="genelist_selection_div" style="display:none" class="mt-3">
    <span class="h5">Gene Sets to highlight data</span>
    {% include "selection_templates/genelist_selection.html" %}
</div>

<div id="genetype_selection_div" style="display:none" class="mt-3">
    <span class="h5">Gene Types to filter data</span>
</div>

<div id="selected_genes" class="h5"></div>
<div class="col-md-12">
    <div class="svg" id="svg"></div>
</div>
<script>
    //Cache
    var data_cache = {};
    var genelist_cache = {};
    var gene2type = {};
    var type2genes = {};
    var svg = null;
</script>
<script>
    var div_width = document.getElementById('svg').clientWidth * .7
    var margin = {top: 10, right: 10, bottom: 50, left: 50},
    width = div_width - margin.left - margin.right,
    height = div_width - margin.top - margin.bottom;
    var x = null;
    var y = null;

    function prepGeneTypeFilter(data){
        for (i in data){
            gene2type[data[i].gene] = data[i].type
            if (type2genes[data[i].type]){
                type2genes[data[i].type].push(data[i].gene)
            }else{
                type2genes[data[i].type] = [data[i].gene]
            }

        }
        let genetype_div = d3.select('#genetype_selection_div').style('display', 'block')
        genetype_div.selectAll('.genetype_selection_select').remove()
        genetype_div.append('div').attr('class', 'genetype_selection_select')
        populateGeneTypeCheckBox('genetype_selection_select', Object.keys(type2genes))


    }

    function populateGeneTypeCheckBox(classname, list){
        let gene_type_divs = d3.select('.'+classname).selectAll('div').data(list).enter()
            .append('div').attr('class', 'form-check form-check-inline col')
        gene_type_divs.append('input').on('click', geneTypeOnClick)
            .attr('class', 'form-check-input gene_types').attr('type', 'checkbox')
            .attr('id', function(d,i){return d})
            .attr('value', function(d,i){return d})
            .attr('name', classname)
        gene_type_divs.append('label').attr('class', 'form-check-label').html(function(d,i) {return d})
    }

    function plotScatterMain(){
        if(selectedGroups['A'] && selectedGroups['B']){
            $('#processingModal').modal('show')
            sleep(500)
            let fileA = d3.select('#groupA').html()
            let fileB = d3.select('#groupB').html()
            let scale = d3.select('#scale_selection').property('value')

            if(scale==='log'){
                x = d3.scaleLog().range([0.1, width]).base(2);
                y = d3.scaleLog().range([height, 0.1]).base(2);

            }else{
                x = d3.scaleLinear().range([0.1, width]);
                y = d3.scaleLinear().range([height, 0.1]);
            }

            d3.select('.svg').selectAll('svg').remove()
            svg = d3.select(".svg").append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                        .style('background', 'ivory')
                    .append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

            console.log(fileA, fileB);
            if (fileA+'|'+fileB in data_cache){
                plotScatter(data_cache[fileA+'|'+fileB], 'genes');
                d3.select('#genelist_selection_div').style('display', 'block')
                $('#processingModal').modal('hide')
            }else{
                data = d3.json('/getDataPair/'+fileA+'.json/'+fileB+'.json/data_binned').then(function(data){
                        data_cache[fileA+'|'+fileB] = data;
                        plotScatter(data, 'genes');
                        d3.select('#genelist_selection_div').style('display', 'block')
                        prepGeneTypeFilter(data)
                        $('#processingModal').modal('hide')
                })
            }
            $('#processingModal').modal('hide')
        }else{
            alert('Please choose data files for both Group A and Group B')
        }
        $('#processingModal').modal('hide')
    }


    function groupData(data){
        let grouped = {};
        let gene2coor = {};
        let type2gene = {};
        console.log(data.length);
        for(let datum of data){
            if(datum.type in type2gene){
                type2gene[datum.type].push(datum.gene)
            }else{
                type2gene[datum.type] = [datum.gene]
            }
            const x_val = datum.x.toFixed(1) //(Math.round(datum.x) === 0) ? 0.25 : Math.round(datum.x);
            const y_val = datum.y.toFixed(1) //(Math.round(datum.y) === 0) ? 0.25 : Math.round(datum.y);
            const coor_id =  x_val + '|' + y_val;
            gene2coor[datum.gene] = coor_id;
            if(coor_id in grouped){
                if(datum.type in grouped[coor_id]){
                    grouped[coor_id][datum.type].push(datum.gene);
                }else{
                    grouped[coor_id][datum.type] = [datum.gene];
                }
            }else{
                grouped[coor_id] = {};
                grouped[coor_id][datum.type] = [datum.gene];
            }
        }
        console.log(Object.keys(grouped).length)

        return [grouped, gene2coor, type2gene]
    }

    function highlightCircles(data, classname, color){
        let [grouped_data, gene2coor, type2gene] = groupData(data)
        let ids = Object.keys(grouped_data).map(coor => '#coor_'+coor.replace('|', '_').replaceAll('.', '-'))
        ids.forEach(curr_id => d3.select(curr_id).style('fill') === 'transparent' ? d3.select(curr_id).style('fill', color) : d3.select(curr_id).style('fill', 'red'))
        ids.forEach(curr_id => d3.select(curr_id).raise())

    }

    ///////////
    console.log('bs', 1454)
    function plotScatter(data, classname){
        let x_max = d3.max(data, function(d) { return d.x; })
        let y_max = d3.max(data, function(d) { return d.y; })
        let global_max = d3.max([x_max, y_max]) * 1.05
        x.domain([0.1, global_max]);
        y.domain([0.1, global_max]);
        let scale = d3.select('#scale_selection').property('value')
        if(scale !== 'log'){
            x.domain([0.1, 1000]);
            y.domain([0.1, 1000]);
        }

        var valueline = d3.line()
            .x(function(d) { return x(d.x); })
            .y(function(d) { return y(d.y); });

        let [grouped_data, gene2coor, type2gene] = groupData(data)

        svg.selectAll("circle."+classname).data(Object.keys(grouped_data))
            .enter().append("circle").on('mouseover', showGene)
                .attr('class', classname).attr('id', function(d){return 'coor_'+d.replace('|', '_').replaceAll('.', '-')})
                .style('stroke', 'gray')
                .style('fill', 'transparent')
                .style('stroke-opacity', 1)
                .attr("r", 2.5)
                .attr("cx", function(d) {
                     return x(d.split('|')[0]); })
                .attr("cy", function(d) { return y(d.split('|')[1]); });

        let middle_line_data = [{x:0.25, y:0.25},{x:global_max, y:global_max}]
        let upper_line_data = [{x:.25, y:.5},{x:global_max/2, y:global_max}]
        let lower_line_data = [{x:.5, y:.25},{x:global_max, y:global_max/2}]

        svg.append("path")
          .data([upper_line_data])
          .attr("class", "upper_line")
          .attr("d", valueline);
        svg.append("path")
          .data([lower_line_data])
          .attr("class", "lower_line")
          .attr("d", valueline);

        d3.selectAll('.mid_line')
            .style('fill', 'lightgray')
            .style('stroke', 'lightgray')
            .style('stroke-width', '1em')
            .style('opacity', .3)

        d3.selectAll('.upper_line')
            .style('fill', 'purple')
            .style('stroke', 'purple')
            .style('stroke-width', '2px')

        d3.selectAll('.lower_line')
            .style('fill', 'green')
            .style('stroke', 'green')
            .style('stroke-width', '2px')

        //x-axis
        svg.append("g").attr('class', 'x axis')
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));
        //y-axis
        svg.append("g").attr('class', 'y axis')
          .call(d3.axisLeft(y));


        var groupA_label = document.getElementById('groupA_label').value
        if (groupA_label.length < 1){
            groupA_label = d3.select('#groupA').html().split('_')[0]
        }

        var groupB_label = document.getElementById('groupB_label').value
        if (groupB_label.length < 1){
            groupB_label = d3.select('#groupB').html().split('_')[0]
        }


        //axis labels
        //x-axis label
        svg.append("text")
            .attr("transform",
                "translate(" + (width/2) + " ," +
                               (height + margin.top + 20) + ")")
            .style("text-anchor", "middle")
            .text(groupA_label);


        //y-axis label
        svg.append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 0 - margin.left)
            .attr("x",0 - (height / 2))
            .attr("dy", "1em")
            .style("text-anchor", "middle")
            .text(groupB_label);

    }

    function showGene(d, i){
        let url = 'http://smallrna.umassmed.edu/jbrowse/?tracks=DNA%2CGenes%2CRepeats%2CTransposons&loc='+i.gene
        let href = '<a target="_blank" href="'+url+'">'+i.gene+'</a>'
        d3.select('#selected_genes').html(href)
    }
</script>

