<div class="jumbotron">
  <h1 class="display-4">2-Sample Scatter Plot</h1>
  <p class="lead">Select two datasets to create a scatter plot. Use gene filters to highlight selected gene classes.</p>
</div>
denem
<script>
    let curr_selected = null
    function geneListOnClick(d,selected_gene_list){
        //$('#processingModal').modal('show')
        let is_checked = d3.select('#'+selected_gene_list).property('checked')
        console.log(is_checked, selected_gene_list)
        if(is_checked){
            if (curr_selected){
                genelist_cache[curr_selected].forEach(gene => d3.select('#g_'+gene.replace('.', '_')).style('fill', 'lightblue'));
            }
            d3.selectAll('.gene_lists').property('checked', false)
            d3.select('#'+selected_gene_list).property('checked', true)
            curr_selected = selected_gene_list
            let selected = selected_gene_list.toLowerCase()

            console.log(selected)
            if(selected in genelist_cache){
                console.log(genelist_cache[selected].length);
                genelist_cache[selected].forEach(gene => d3.select('#g_'+gene.replace('.', '_')).style('fill', 'tomato'));
                $('#processingModal').modal('hide')
            }else{
                d3.json('/getgenelist/'+selected).then(function(data){
                    console.log(data.length);
                    genelist_cache[selected] = data;
                    data.forEach(gene => d3.select('#g_'+gene.replace('.', '_')).style('fill', 'tomato'));
                    $('#processingModal').modal('hide')
                })
            }
        }else{
            genelist_cache[curr_selected].forEach(gene => d3.select('#g_'+gene.replace('.', '_')).style('fill', 'lightblue'));
            curr_selected = null;
            $('#processingModal').modal('hide')
        }
        $('#processingModal').modal('hide')


    }
</script>
{% include "selection_templates/pair_selection.html" %}

<div class="input-group mt-3">
    <div>
        <select class="form-control form-select" id="scale_selection">
        <option value="log">Log Scale</option>
        <option value="linear">Linear Scale</option>

    </select>
    </div>

    <span class="btn btn-primary form-control mb-5" onclick="plotScatterMain()">Create Plot</span>
</div>

<div id="genelist_selection_div" style="display:none">
    {% include "selection_templates/genelist_selection.html" %}
</div>


<div class="col-md-12">
    <div class="svg" id="svg"></div>
</div>
<script>
    //Cache
    data_cache = {}
    genelist_cache = {}
</script>
<script>
    var div_width = document.getElementById('svg').clientWidth
    var margin = {top: 10, right: 10, bottom: 40, left: 40},
    width = div_width - margin.left - margin.right,
    height = div_width - margin.top - margin.bottom;
    var x = null;
    var y = null;

    function plotScatterMain(){
        if(groupA && groupB){
            $('#processingModal').modal('show')
            sleep(500)
            let fileA = d3.select('#'+groupA).html()
            let fileB = d3.select('#'+groupB).html()
            let scale = d3.select('#scale_selection').property('value')

            if(scale==='log'){
                x = d3.scaleLog().range([0.1, width]).base(2);
                y = d3.scaleLog().range([height, 0.1]).base(2);

            }else{
                x = d3.scaleLinear().range([0.1, width]);
                y = d3.scaleLinear().range([height, 0.1]);
            }

            console.log(fileA, fileB);
            if (fileA+'|'+fileB in data_cache){
                plotScatter(data_cache[fileA+'|'+fileB]);
                d3.select('#genelist_selection_div').style('display', 'block')
                $('#processingModal').modal('hide')
            }else{
                data = d3.json('/getDataPair/'+fileA+'/'+fileB+'/data_binned').then(function(data){
                        data_cache[fileA+'|'+fileB] = data;
                        plotScatter(data);
                        d3.select('#genelist_selection_div').style('display', 'block')
                        $('#processingModal').modal('hide')
                })
            }
            $('#processingModal').modal('hide')
        }else{
            alert('Please choose data files for both Group A and Group B')
        }
        $('#processingModal').modal('hide')
    }

    function plotScatter(data){
        d3.selectAll('.gene_lists').property('checked', false)
        d3.select('.svg').selectAll('svg').remove()


        var svg = d3.select(".svg").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .style('background', 'ivory')
        var g = svg.append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")



        let x_max = d3.max(data, function(d) { return d.x; })
        let y_max = d3.max(data, function(d) { return d.y; })
        let global_max = d3.max([x_max, y_max]) * 1.05
        x.domain([0.1, global_max]);
        y.domain([0.1, global_max]);
        var valueline = d3.line()
            .x(function(d) { return x(d.x); })
            .y(function(d) { return y(d.y); });

        svg.selectAll("dot").data(data)
            .enter().append("circle").on('mouseover', showGene)
                .attr('class', 'genes').attr('id', function(d){return 'g_'+d.gene.replace('.', '_')})
                .style('stroke', 'navy')
                .style('fill', 'lightblue')
                .style('opacity', .5)
                .attr("r", 2.5)
                .attr("cx", function(d) { return x(d.x); })
                .attr("cy", function(d) { return y(d.y); });

        let middle_line_data = [{x:0.1, y:0.1},{x:global_max, y:global_max}]
        let upper_line_data = [{x:.5, y:1},{x:global_max/2, y:global_max}]
        let lower_line_data = [{x:1, y:.5},{x:global_max, y:global_max/2}]
        svg.append("path")
          .data([middle_line_data])
          .attr("class", "mid_line")
          .attr("d", valueline);
        svg.append("path")
          .data([upper_line_data])
          .attr("class", "upper_line")
          .attr("d", valueline);
        svg.append("path")
          .data([lower_line_data])
          .attr("class", "lower_line")
          .attr("d", valueline);

        d3.selectAll('.mid_line')
            .style('fill', 'lightgray')
            .style('stroke', 'lightgray')
            .style('stroke-width', '1em')
            .style('opacity', .3)

        d3.selectAll('.upper_line')
            .style('fill', 'purple')
            .style('stroke', 'purple')
            .style('stroke-width', '2px')

        d3.selectAll('.lower_line')
            .style('fill', 'green')
            .style('stroke', 'green')
            .style('stroke-width', '2px')

        //x-axis
        svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));
        //y-axis
        svg.append("g")
          .call(d3.axisLeft(y));


        var groupA_label = document.getElementById('groupA_label').value
        if (groupA_label.length < 1){
            groupA_label = d3.select('#'+groupA).html().split('_')[0]
        }

        var groupB_label = document.getElementById('groupB_label').value
        if (groupB_label.length < 1){
            groupB_label = d3.select('#'+groupB).html().split('_')[0]
        }

        console.log(groupA_label, groupB_label)

        //axis labels
        //x-axis label
        svg.append("text")
            .attr("transform",
                "translate(" + (width/2) + " ," +
                               (height + margin.top + 20) + ")")
            .style("text-anchor", "middle")
            .text(groupA_label);


        //y-axis label
        svg.append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 0 - margin.left)
            .attr("x",0 - (height / 2))
            .attr("dy", "1em")
            .style("text-anchor", "middle")
            .text(groupB_label);

        var zoom = d3.zoom()
              .scaleExtent([1, 8])
              .on('zoom', function(event) {
                  svg.selectAll('circle')
                   .attr('transform', event.transform);
                  svg.selectAll('path')
                   .attr('transform', event.transform);
        });
        svg.call(zoom)
    }

    function showGene(d, i){
        console.log(i)
        let url = 'http://smallrna.umassmed.edu/jbrowse/?tracks=DNA%2CGenes%2CRepeats%2CTransposons&loc='+i.gene
        let href = '<a target="_blank" href="'+url+'">'+i.gene+'</a>'
        d3.select('#selected_genes').html(href)
    }

</script>

