<div class="jumbotron">
  <h1 class="display-4">2-Sample Tile Plot</h1>
  <p class="lead">Select two datasets to create a scatter plot. Use gene filters to highlight selected gene classes.</p>
</div>
<script>
    let curr_selected = null
    let selected_bin2genes = {}
    let max_gene_len = 0
    let sizeScale = null

    function geneListOnClick(d,selected_gene_list){
        //$('#processingModal').modal('show')
        curr_selected = d3.select('.gene_file_list').select('select option:checked').attr('value')
        console.log('>', curr_selected)
        d3.selectAll('.xhist_selected').remove()
        d3.selectAll('.yhist_selected').remove()

        if(curr_selected in genelist_cache){
            console.log('in cache', genelist_cache[curr_selected].length);
            highlightBins(genelist_cache[curr_selected])
        }else{
            d3.json('/getgenelist/'+curr_selected).then(function(data){
                console.log(selected, '/getgenelist/'+curr_selected)
                console.log('downloaded', data.length);
                genelist_cache[curr_selected] = data;
                highlightBins(genelist_cache[curr_selected])
            })
        }
    }

    function geneListRemove(){
        d3.selectAll('.xhist_selected').remove()
        d3.selectAll('.yhist_selected').remove()
        d3.select('svg').selectAll('rect.genelist_rect').remove()
        d3.select('svg').selectAll('rect.genelist_rect_guide').remove()
        curr_selected = null;
    }

    function highlightBins(data){
        selected_bin2genes = {};
        let selected_bin2ratio = {};
        let selected_xbin2gene_count = [];
        let selected_ybin2gene_count = [];

        for(let gene of data){
            let curr_bin = curr_gene2bin[gene]
            if (!selected_bin2genes[curr_bin]) {
                selected_bin2genes[curr_bin] = [];
            }
            selected_bin2genes[curr_bin].push(gene)
        }
        console.log('not in the dataset:', selected_bin2genes[undefined])
        delete selected_bin2genes[undefined]
        console.log(selected_bin2genes)

        for(let curr_bin of Object.keys(selected_bin2genes)){
            selected_bin2ratio[curr_bin] = selected_bin2genes[curr_bin].length / curr_bin2genes[curr_bin].length
        }
        for(let k=0; k<bin_size; k++){
            selected_xbin2gene_count[k]=0
            selected_ybin2gene_count[k]=0
        }
        for(key of Object.keys(selected_bin2genes)){
            let [i, j] = key.split('|')
            selected_xbin2gene_count[i] += selected_bin2genes[key].length
            selected_ybin2gene_count[j] += selected_bin2genes[key].length
        }


        let step_diff = x.range()[1]/bin_size
        step_diff = parseFloat(step_diff.toFixed(2))
        let sizeScaleSelected = function(datum){ //tile is log scale, selected is linear to tile's area
            let selected_gene_count = selected_bin2genes[datum].length
            let tile_gene_count = curr_bin2genes[datum].length
            let tile_width = sizeScale(tile_gene_count)
            return (selected_gene_count/tile_gene_count)**.5 * tile_width
        }


        d3.select('svg').selectAll('rect.genelist_rect').remove()
        d3.select('svg').selectAll('rect.genelist_rect_guide').remove()
        d3.select('svg').selectAll('rect.genelist_rect').data(Object.keys(selected_bin2ratio)).enter()
            .append('rect').attr('class', 'genelist_rect').on('click', listTileGenes)
                .attr('x', function(d,i){
                    let val = parseInt(d.split('|')[0]);
                    //return val*step_diff + margin.left + step_diff - sizeScale(selected_bin2genes[d].length);
                    return val*step_diff + margin.left;
                })
                .attr('y', function(d,i){
                    let val = parseInt(bin_size - parseInt(d.split('|')[1]) - 1);
                    //return val*step_diff + margin.top + step_diff - sizeScale(selected_bin2genes[d].length);
                    return val*step_diff + margin.top;
                })
                .attr('width', function(d,i){return sizeScaleSelected(d)})
                .attr('height', function(d,i){return sizeScaleSelected(d)})
                .attr('stroke', 'firebrick').attr('stroke-width', 1)
                .attr('fill', 'red')
                .attr('opacity', function(d,i){
                    //return opacityScale(bin2gene[d].length)
                    return 1
                });


        d3.select('svg').selectAll('rect.genelist_rect_guide').data(Object.keys(selected_bin2ratio)).enter()
            .append('rect').attr('class', 'genelist_rect_guide').on('click', listTileGenes)
                .attr('x', function(d,i){
                    let val = parseInt(d.split('|')[0]);
                    return val*step_diff + margin.left;
                })
                .attr('y', function(d,i){
                    let val = parseInt(bin_size - parseInt(d.split('|')[1]) - 1);
                    return val*step_diff + margin.top;
                })
                .attr('width',  step_diff)
                .attr('height', step_diff)
                .style('stroke', 'firebrick').style('stroke-width', 0.7)
                .style('fill', 'gold')
                .style('fill-opacity', .3)
                .lower().lower().lower()


        d3.select('svg').selectAll('rect.xhist_selected').data(selected_xbin2gene_count.map((e,i)=>[e,i])).enter()
            .append('rect').attr('class', 'xhist_selected')
                .on('mouseover', showVerticalBar).on('mouseout', removeBar)
                .attr('x', function(d,i){
                    return i * step_diff + margin.left;
                })
                .attr('y', function(d,i){return margin.top - xhistHeight(d[0]+1) - margin.top*.08})
                .attr('width', step_diff)
                .attr('height', function(d,i){return xhistHeight(d[0]+1)})
                .attr('stroke', 'white')
                .attr('fill', 'firebrickk')
                .attr('opacity', 0.5)

        d3.select('svg').selectAll('rect.yhist_selected').data(selected_ybin2gene_count.map((e,i)=>[e,i])).enter()
            .append('rect').attr('class', 'yhist_selected')
                .on('mouseover', showHorizontalBar).on('mouseout', removeBar)
                .attr('y', function(d,i){
                    return (bin_size - i - 1) * step_diff + margin.top;
                })
                .attr('x', width + margin.left + margin.right*0.08)
                .attr('height', step_diff)
                .attr('width', function(d,i){return yhistWidth(d[0]+1)})
                .attr('stroke', 'white')
                .attr('fill', 'firebrickk')
                .attr('opacity', 0.5)


    }

    let curr_selected_type = null
    function geneTypeOnClick(d,selected_gene_type){
        let fileA = d3.select('#groupA').html()
        let fileB = d3.select('#groupB').html()
        let is_checked = d3.select('#'+selected_gene_type).property('checked')
        if(is_checked){
            d3.selectAll('.gene_types').property('checked', false)
            d3.select('#'+selected_gene_type).property('checked', true)
            curr_selected_type = selected_gene_type
            plotScatter(data_cache[fileA+'|'+fileB].filter(d => d.type===selected_gene_type))
        }else{
            curr_selected_type = null;
            plotScatter(data_cache[fileA+'|'+fileB]);
            $('#processingModal').modal('hide')
        }
    }
</script>
{% include "selection_templates/pair_selection.html" %}

<div class="input-group mt-3">
    <div>
        <select class="form-control form-select" id="scale_selection">
        <option value="log">Log Scale</option>
        <option value="linear">Linear Scale</option>
    </select>
    </div>
    <div>
        <input type="text" class="form-control" id="bin_size" value="53">
    </div>
    <span class="btn btn-primary form-control mb-5" onclick="plotScatterMain()">Create Plot</span>
</div>

{% include "selection_templates/genelist_selection.html" %}
{% include "selection_templates/genetype_selection.html" %}


<div id="selected_genes" class="h5"></div>
<div class="col-md-12">
    <div class="svg" id="svg"></div>
</div>
<script>
    //Cache
    var data_cache = {}
    var genelist_cache = {}

</script>
<script>

    let curr_bin2genes = {}
    let curr_gene2bin = {}
    let div_width = document.getElementById('svg').clientWidth * .8
    let margin = {top: div_width*.15, right: div_width*.15, bottom: div_width*.08, left: div_width*.08},
    width = div_width - margin.left - margin.right,
    height = div_width - margin.top - margin.bottom;
    let x = null;
    let y = null;
    let verticalBar = false
    let horizontalBar = false
    let bin_size = 0



    function plotScatterMain(){
        if(selectedGroups['A'] && selectedGroups['B']){
            $('#processingModal').modal('show')
            sleep(500)
            let fileA = d3.select('#groupA').html()
            let fileB = d3.select('#groupB').html()
            let scale = d3.select('#scale_selection').property('value')

            if(scale==='log'){
                x = d3.scaleLog().range([0.1, width]).base(2);
                y = d3.scaleLog().range([height, 0.1]).base(2);

            }else{
                x = d3.scaleLinear().range([0.1, width]);
                y = d3.scaleLinear().range([height, 0.1]);
            }

            if (fileA+'|'+fileB in data_cache){
                plotScatter(data_cache[fileA+'|'+fileB]);
                d3.select('#genelist_selection_div').style('display', 'block')
                d3.select('#genetype_selection_div').style('display', 'block')
                $('#processingModal').modal('hide')
            }else{
                data = d3.json('/getDataPair/'+fileA+'/'+fileB+'/data_binned').then(function(data){
                        data_cache[fileA+'|'+fileB] = data;
                        plotScatter(data);
                        d3.select('#genelist_selection_div').style('display', 'block')
                        d3.select('#genetype_selection_div').style('display', 'block')
                        prepGeneTypeFilter(data)
                        $('#processingModal').modal('hide')
                })
            }
            $('#processingModal').modal('hide')
        }else{
            alert('Please choose data files for both Group A and Group B')
        }
        $('#processingModal').modal('hide')
    }

    function plotScatter(data){
        d3.selectAll('.gene_lists').property('checkgene_file_listed', false)
        d3.selectAll('.gene_types').property('checked', false)
        d3.select('.svg').selectAll('svg').remove()
        bin_size = d3.select('#bin_size').property('value')

        var svg = d3.select(".svg").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .style('background', 'white')
                .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

        let x_max = d3.max(data, function(d) { return d.x; })
        let y_max = d3.max(data, function(d) { return d.y; })
        let global_max = d3.max([x_max, y_max]) * 1.05
        x.domain([0.1, global_max]);
        y.domain([0.1, global_max]);
        var valueline = d3.line()
            .x(function(d) { return x(d.x); })
            .y(function(d) { return y(d.y); });

        [curr_bin2genes, curr_gene2bin] = binGenes(data, bin_size);
        plotHist(curr_bin2genes, bin_size);

        let upper_line_data = [{x:.1, y:.2},{x:global_max/2, y:global_max}]
        let lower_line_data = [{x:.2, y:.1},{x:global_max, y:global_max/2}]

        svg.append("path")
          .data([upper_line_data])
          .attr("class", "upper_line")
          .attr("d", valueline);

        svg.append("path")
          .data([lower_line_data])
          .attr("class", "lower_line")
          .attr("d", valueline);

        d3.selectAll('.upper_line')
            .style('fill', 'purple')
            .style('stroke', 'purple')
            .style('stroke-width', '2px')

        d3.selectAll('.lower_line')
            .style('fill', 'green')
            .style('stroke', 'green')
            .style('stroke-width', '2px')

        //x-axis
        svg.append("g").attr('class', 'x axis')
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));
        //y-axis
        svg.append("g").attr('class', 'y axis')
          .call(d3.axisLeft(y));

        var groupA_label = document.getElementById('groupA_label').value
        if (groupA_label.length < 1){
            groupA_label = d3.select('#groupA').html().split('_')[0]
        }

        var groupB_label = document.getElementById('groupB_label').value
        if (groupB_label.length < 1){
            groupB_label = d3.select('#groupB').html().split('_')[0]
        }
        console.log(groupA_label, groupB_label)


        svg.append("text").attr('id', 'groupA_label_text')
            .attr("transform",
                "translate(" + (width/2) + " ," +
                               (height + margin.top*.4) + ")")
            .style("text-anchor", "middle")
            .text(groupA_label);

        svg.append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 0 - margin.left)
            .attr("x",0 - (height / 2))
            .attr("dy", "1em")
            .style("text-anchor", "middle")
            .text(groupB_label);
    }

    function showGene(d, i){
        let url = 'http://smallrna.umassmed.edu/jbrowse/?tracks=DNA%2CGenes%2CRepeats%2CTransposons&loc='+i.gene
        let href = '<a target="_blank" href="'+url+'">'+i.gene+'</a>'
        d3.select('#selected_genes').html(href)
    }


    function plotHist(curr_bin2genes, bin_size){
        let xbin2gene_count = []
        let ybin2gene_count = []
        let step_diff = x.range()[1]/bin_size
        step_diff = step_diff.toFixed(2)

        for(let k=0; k<bin_size; k++){
            xbin2gene_count[k]=0
            ybin2gene_count[k]=0
        }
        for(key of Object.keys(curr_bin2genes)){
            let [i, j] = key.split('|')
            xbin2gene_count[i] += curr_bin2genes[key].length
            ybin2gene_count[j] += curr_bin2genes[key].length
        }

        xhistHeight = d3.scaleLog().range([0, margin.top*.9]).domain([1, d3.max(xbin2gene_count)]);
        yhistWidth = d3.scaleLog().range([0, margin.right*.9]).domain([1, d3.max(ybin2gene_count)]);

        d3.select('svg').selectAll('rect.xhist').data(xbin2gene_count.map((e,i)=>[e,i])).enter()
            .append('rect').attr('class', 'xhist').attr("pointer-events","visible")
                .on('mouseover', showVerticalBar).on('mouseout', removeBar)
                .attr('x', function(d,i){
                    return i * step_diff + margin.left;
                })
                .attr('y', function(d,i){return margin.top - xhistHeight(d[0]+1) - margin.top*.08})
                .attr('width', step_diff)
                .attr('height', function(d,i){return xhistHeight(d[0]+1)})
                .attr('stroke', 'white')
                .attr('fill', 'navy')
                .attr('opacity', 0.5)

        d3.select('svg').selectAll('rect.yhist').data(ybin2gene_count.map((e,i)=>[e,i])).enter()
            .append('rect').attr('class', 'yhist').attr("pointer-events","visible")
                .on('mouseover', showHorizontalBar).on('mouseout', removeBar)
                .attr('y', function(d,i){
                    return (bin_size - i - 1) * step_diff + margin.top;
                })
                .attr('x', width + margin.left + margin.right*0.08)
                .attr('height', step_diff)
                .attr('width', function(d,i){return yhistWidth(d[0]+1)})
                .attr('stroke', 'white')
                .attr('fill', 'navy')
                .attr('opacity', 0.5)
    }

    function showVerticalBar(m, d){
        let step_diff = x.range()[1]/bin_size
        let pos = d[1]
        if(!verticalBar){
            d3.selectAll('.verticalGuide').remove()
            d3.select('svg').append('rect').attr('class', 'verticalGuide guide_bar')
                .attr('x', function(d,i){return pos * step_diff + margin.left})
                .attr('y', margin.top)
                .attr('height', height)
                .attr('width', step_diff)
                .attr('stroke', 'navy')
                .attr('fill', 'transparent')
                .attr('opacity', 0.5)
        }
    }
    function addVerticalBar(){}
    function showHorizontalBar(m, d){
        let step_diff = x.range()[1]/bin_size
        let pos = d[1]
        if(!horizontalBar){
            d3.selectAll('.horizontalGuide').remove()
            d3.select('svg').append('rect').attr('class', 'horizontalGuide guide_bar')
                .attr('y', function(d,i){return (bin_size-pos-1) * step_diff + margin.top})
                .attr('x', margin.left)
                .attr('height', step_diff)
                .attr('width', width)
                .attr('stroke', 'navy')
                .attr('fill', 'transparent')
                .attr('opacity', 0.5)
        }
    }
    function removeBar(){
        d3.selectAll('.guide_bar').remove()
    }



    function binGenes(data, bin_size){
        let bin2gene = {}
        let gene2bin = {}
        let step_diff = x.range()[1]/bin_size
        step_diff = step_diff.toFixed(2)
        for(let i=0; i<bin_size; i++){
            for(let j=0; j<bin_size; j++){
                bin2gene[i + '|' + j] = []
            }
        }
        max_gene_len = 0
        for(datum of data){
            let x_cat = parseInt(x(datum.x)/step_diff)
            let y_cat = parseInt(x(datum.y)/step_diff)
            bin2gene[x_cat + '|' + y_cat].push(datum.gene)
            gene2bin[datum.gene] = x_cat + '|' + y_cat
            if(bin2gene[x_cat + '|' + y_cat].length > max_gene_len){
                max_gene_len = bin2gene[x_cat + '|' + y_cat].length
            }
        }

        let opacityScale = d3.scaleLog().range([0.3, 2]).domain([1, max_gene_len]);
        sizeScale = d3.scaleLog().range([0.1*step_diff, step_diff]).domain([1, max_gene_len]);
        let squares_with_data = Object.keys(bin2gene).filter(x=>bin2gene[x].length>0)

        d3.select('svg').selectAll('rect').data(squares_with_data).enter()
            .append('rect').on('click', listTileGenes)
                .attr('x', function(d,i){
                    let val = d.split('|')[0];
                    return val*step_diff+margin.left;
                })
                .attr('y', function(d,i){
                    let val = bin_size - parseInt(d.split('|')[1]) - 1;
                    return val*step_diff+margin.top;
                })
                .attr('width', function(d,i){return sizeScale(bin2gene[d].length)})
                .attr('height', function(d,i){return sizeScale(bin2gene[d].length)})
                .attr('stroke', 'blue')
                .attr('fill', 'blue')
                .attr('opacity', function(d,i){
                    //return opacityScale(bin2gene[d].length)
                    return 1
                })
        return [bin2gene, gene2bin]
    }

    function listTileGenes(m, d){
        let selected_genes = []
        console.log()
        rest_genes = curr_bin2genes[d]
        if(curr_selected){
            if(d in selected_bin2genes){
                selected_genes = selected_bin2genes[d];
                rest_genes = rest_genes.filter(gene => !selected_bin2genes[d].includes(gene));
            }
        }
        console.log('selected',selected_genes.length)
        console.log('rest',rest_genes.length)
    }

</script>

