<div id="genelist_selection_div" style="display:none" class="mt-3">
    <span class="h5">Highlight Gene Lists</span>
    <div class="input-group">
        <div class="gene_file_list col"></div>
        <span class="btn btn-primary form-control mb-5" onclick="geneListOnClick()">Filter Gene List</span>
        <span class="btn btn-warning form-control mb-5 " onclick="geneListRemove()">Remove Filter</span>
    </div>
</div>


{% block afterbody %}
<script>
    let gene_file_list = {{ gene_file_list | safe }}

    function populateCheckBoxList(classname, list){
        let gene_type_divs = d3.select('.'+classname).selectAll('div').data(list).enter()
            .append('div').attr('class', 'form-check form-check-inline col')
        gene_type_divs.append('input')
            .attr('class', 'form-check-input gene_lists').attr('type', 'checkbox')
            .attr('id', function(d,i){return d.toLowerCase()})
            .attr('value', function(d,i){return d.toLowerCase()})
            .attr('name', classname)
        gene_type_divs.append('label').attr('class', 'form-check-label').html(function(d,i) {return d})
    }

    function populateGeneFileSelect(classname, list){
        let gene_type_select = d3.select('.'+classname).append('select').on('click', geneListOnClick)
                                    .attr('class', 'form-control')
                                    .selectAll('option').data(list).enter()
                                        .append('option')
                                        .text(function(d,i){return d})
                                        .attr('value', function(d,i){return d})
    }

    populateGeneFileSelect('gene_file_list', gene_file_list.map(x=>x.split('/')[1].replace('.json', '')))


</script>
{% endblock %}