        <div class="row">
            <div class="input-group">
                <span class="input-group-text">Select Dataset</span>
                <select name="dataset" id="datasets_select" class="form-control"></select>
                <span class="input-group-text">Filter by Keyword:</span>
                <input type="text" class="form-control" id="filter_dataset" onkeyup="filterDataset()">
            </div>

            <div class="col-md-12 mt-2">
                <div class="input-group">
                    <span class="input-group-text btn btn-primary" onclick="addToGroup('A')">Group A:</span>
                    <span type="text" class="form-control" id="groupA" onclick="fileRemove('A')"></span>
                    <span class="input-group-text">Label for A:</span>
                    <input type="text" style="font-style: italic" id="groupA_label"
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="input-group">
                    <span class="input-group-text btn btn-secondary" onclick="addToGroup('B')">Group B:</span>
                    <span type="text" class="form-control" id="groupB" onclick="fileRemove('B')"></span>
                    <span class="input-group-text">Label for B:</span>
                    <input type="text" style="font-style: italic" id="groupB_label"
                </div>
            </div>

            </div>

        </div>
{% block afterbody %}
    <script>
        let selected = null;
        let groupA = null;
        let groupB = null;
        let selectedGroups = {'A':null, 'B':null}
        let ruleGroups = [];

        function darken(){
            d3.selectAll('.dataset').style('background', 'white')
            d3.select('#'+this.id).style('background', 'lightgray')
        }

        function lighten(){
            d3.selectAll('.dataset').style('background', 'white')
        }

        function choose(){
            d3.selectAll('.dataset').style('font-weight', 'normal')
            d3.select('#'+this.id).style('font-weight', 'bold')
            selected = this.id
        }

        function addToGroupA(){
            groupA = selected;
            if(groupA !== groupB){
                selected = null;
                let html = d3.select('#'+groupA).html()
                let path = d3.select('#'+groupA).attr('path')
                d3.select('#groupA').html(html).attr('path', path)
                d3.select('#input_groupA').attr('value', path)
                d3.selectAll('.dataset').style('font-weight', 'normal')
                populateDatasetList(main_file_list)
            }
        }

        function addToGroupB(){
            groupB = selected;
            if(groupA !== groupB) {
                selected = null;
                let html = d3.select('#' + groupB).html()
                let path = d3.select('#' + groupB).attr('path')
                d3.select('#groupB').html(html).attr('path', path)
                d3.select('#input_groupB').attr('value', path)
                d3.selectAll('.dataset').style('font-weight', 'normal')
                populateDatasetList(main_file_list)
            }
        }

        function addToGroup(group){
            let option_select = d3.select('#datasets_select option:checked').text()
            d3.select('#group'+group).html(option_select)
            selectedGroups[group] = option_select
            filterDataset()
        }

    </script>
    <script>
        let main_file_list = {{ main_file_list | safe}};
        function populateDatasetList(data){
            d3.select('.datasets').selectAll('div').remove();
            d3.select('.datasets').selectAll('div').data(main_file_list).enter()
                .append('div')
                    //.attr('class', 'dataset')
                    .attr('id', function(d,i){return 'dataset_'+i})
                    .on('mouseover', darken)
                    .on('click', choose)
                    .html(function(d){return d.split('/')[1]})
                    .attr('path', function(d){return d})
                    .attr('class', function(d,i){
                        let curr_dataset = 'dataset_'+i
                        if(curr_dataset==groupA || curr_dataset==groupB){
                            return 'dataset selected text-muted';
                        }else{
                            return 'dataset';
                        }
                    })
            d3.selectAll('div.selected').style('font-style', 'italic')
        }

        function filterDataset(){
            //datasets_select
            let keyword = document.getElementById('filter_dataset').value.trim().toLowerCase()
            let curr_data = main_file_list.map(file=>file.split('/')[1])
            curr_data = curr_data.filter(file => file !== selectedGroups['A'] && file !== selectedGroups['B'])
            if (keyword){
                d3.select('#datasets_select').selectAll('option').remove()
                d3.select('#datasets_select').selectAll('option').data(curr_data.filter(file=>file.toLowerCase().includes(keyword))).enter()
                    .append('option').text(function(d){return d})
            }else{
                d3.select('#datasets_select').selectAll('option').data(curr_data).enter()
                    .append('option').text(function(d){return d})
            }
        }

        filterDataset()
        populateDatasetList(main_file_list)
    </script>



{% endblock %}