<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script>
        function sleep(milliseconds) {
          const date = Date.now();
          let currentDate = null;
          do {
            currentDate = Date.now();
          } while (currentDate - date < milliseconds);
        }
        </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-2 text-center">
                <span class="h4" style="text-align:left;"><a href="/">G.O.A.T</a></span>
            </div>
        </div><div class="row">
            <div class="col-2 text-center small">
                <a href="/preprocess">0. Preprocess Data</a>
            </div>
            <div class="col-2 text-center small">
                <a href="/filter">1. Filter Data</a>
            </div>
            <div class="col-2 text-center small">
                <a href="/bin">2. Bin Filtered Data to Genes</a>
            </div>
            <div class="col-2 text-center small">
                <a href="/compare">3. Compare Two Datasets</a>
            </div>
            <div class="col-2 text-center small">
                <a href="/setops">4. Set Operations</a>
            </div>
            <div class="col-2 text-center small">
                <a href="/plot">5. Plotting</a>
            </div>

        </div>
        <div class="row">
            <div id="messages">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      {{ message }}
                        <br/>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="" id="left">{% block left %}{% endblock %}</div>
            <div class="col-md-12" id="center">{% block center %}{% endblock %}</div>

        </div>

        <div class="row">
            <div id="footer">{% block footer %}{% endblock %}</div>
        </div>
    </div>



<div class="modal fade" id="processingModal" tabindex="-1" aria-labelledby="processingModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title text-center display-5" id="processingModal-title">Loading ...</div>
      </div>
      <div class="modal-body text-center">
        <img src="{{ url_for('static', filename='rna_pol.gif') }}" style="width:90%; opacity:0.5;">
      </div>
    </div>
  </div>
</div>

</body>
{% block afterbody %}{% endblock %}

