{% extends "base.html" %}
{% block title %}Compare Datasets{% endblock %}

{% block center %}
    <div class="jumbotron mt-3 mb-2">
      <h1 class="display-4">Compare data and create gene lists</h1>
      <p class="lead">Create gene lists by defining custom rules, like enrichment.</p>
    </div>
    <form action="/" method="post">
        <input type="hidden" name="type" value="compare">
        <input type="hidden" id="input_groupA" name="groupA" value="">
        <input type="hidden" id="input_groupB" name="groupB" value="">

        {% include "selection_templates/pair_selection_dev.html" %}


        <button type="button" class="btn-sm btn-success p-1 m-1" onclick="addRuleGroup()">Add Rule Group</button>
        <div class="rules"></div>
        <div class="mt-3">Give a name to save<input type="text" name="save"></div>
        <input type="submit">
    </form>
{% endblock %}
{% block afterbody %}
    <script>
        console.log('compare', 2)
        let ruleGroups = [];

        function addRuleGroup(){
            ruleGroups.push(0)
            let latestGroupId = ruleGroups.length-1
            let newGroup = d3.select('.rules').append('div')
                .attr('id', 'ruleGroup_' + latestGroupId)
                .attr('class', 'border pt-2 pb-2')
            newGroup.append('div')
                .html('<button type="button" class="btn-sm btn-info p-1 m-1" onclick="addRule('+latestGroupId+')">Add a Rule</button>')
            newGroup.append('div')
                .attr('id', 'rules_'+latestGroupId)

        }

        function addRule(group_id){
            ruleGroups[group_id] = ruleGroups[group_id]+1
            let rule_id = ruleGroups[group_id]
            let curr_rule_identifier = ['rule', group_id, rule_id].join('_')

            let newRule = d3.select('#rules_'+group_id).append('div').attr('class', 'row input-group m-1')
                .attr('id', curr_rule_identifier)
            //Adding rule structure
            newRule.append('div').attr('id', 'data_select').attr('class', 'col-md-2').on('change', updateRuleInput)
                .append('select').attr('class', 'form-control').selectAll('option').data(['A', 'B', 'A/B', 'B/A']).enter()
                    .append('option').text(function(d,i){return d}).attr('value', function(d,i){return d})
            newRule.append('div').attr('id', 'operator_select').attr('class', 'col-md-1').on('change', updateRuleInput)
                .append('select').attr('class', 'form-control').selectAll('option').data(['<', '≤', '≥', '>', '=']).enter()
                    .append('option').text(function(d,i){return d}).attr('value', function(d,i){return d})
            newRule.append('div').attr('class', 'col-md-2').on('keyup', updateRuleInput)
                .append('input').attr('value', 0).attr('id', 'data_input').attr('class', 'form-control')
            newRule.append('div').attr('class', 'col-md-1')
                //.html(['rule', group_id, rule_id].join('_'))
            newRule.append('div').attr('class', 'col-md-3')
                .html('<button type="button" class="btn btn-danger form-control" onclick="deleteRule(\'' + curr_rule_identifier + '\')">Delete Rule</button>')

            d3.select('form').append('input')
                .attr('type', 'hidden')
                .attr('name', 'hidden_'+curr_rule_identifier)
                .attr('id', 'hidden_'+curr_rule_identifier)
                .attr('value', getRuleFromId(curr_rule_identifier))
        }


        function getRuleFromId(id){
            let data_select = d3.select('#'+id).select('#data_select option:checked').text()
            let operator_select = d3.select('#'+id).select('#operator_select option:checked').text()
            let data_input = d3.select('#'+id).select('#data_input').property('value')
            return [data_select, operator_select, data_input].join(';')

        }

        function deleteRule(rule_id){
            console.log(rule_id)
            d3.select('#'+rule_id).remove()
            d3.select('#hidden_'+rule_id).remove()
        }

        function updateRuleInput(){
            let rule_id = this.parentNode.id;
            d3.select('#hidden_'+rule_id).remove();
            d3.select('form').append('input')
                .attr('type', 'hidden')
                .attr('name', 'hidden_'+rule_id)
                .attr('id', 'hidden_'+rule_id)
                .attr('value', getRuleFromId(rule_id))

        }

    </script>


{% endblock %}
