{% extends "base.html" %}
{% block title %}Filter{% endblock %}

{% block center %}
    <form action="/" method="post">



        <div class="row">
            <div class="col-md-12 pb-2">
                <div class="input-group">
                    <span class="input-group-text">Dataset</span>
                    <select name="dataset" id="datasets_select" class="form-control"></select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-text">Strand</span>
                    <select name="strand" id="strand" class="form-control">
                        <option value="a">antisense</option>
                        <option value="s">sense</option>
                    </select>
                </div>
            </div>
            <div class="col-md-5">
                <div class=" input-group">
                    <select name="length_start" id="length_start" onchange="fixLengthValue('start')" class="form-control">
                    </select>
                    <span class="input-group-text">≤ sequence length ≤</span>
                    <select name="length_end" id="length_end" onchange="fixLengthValue('end')" class="form-control">
                    </select>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="A" name="nucleotides">
                  <label class="form-check-label h6" for="inlineCheckbox1">A</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="T"  name="nucleotides">
                  <label class="form-check-label h6" for="inlineCheckbox2">T</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="G" checked name="nucleotides">
                  <label class="form-check-label h6" for="inlineCheckbox3">G</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="C" name="nucleotides">
                  <label class="form-check-label h6" for="inlineCheckbox3">C</label>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 pt-2 pb-2">
                <button type="button" class="btn-sm btn-success form-control" onclick="addSeqRuleGroup()">Add Sequence Rule Group</button>
            </div>
            <div class="col-md-6 pt-2 pb-2">
                <button type="button" class="btn-sm btn-success form-control" onclick="addGeneRuleGroup()">Add Gene Rule Group</button>
            </div>


        </div>
        <div class="row">
            <div class="col-md-6 rules_seq"></div>
            <div class="col-md-6 rules_gene"></div>
        </div>

        <div class="col-md-6 pb-2">
            <div class="input-group">
                <span class="input-group-text">Name for saving</span>
                <input type="text" name="save" class="form-control">
                <input type='submit' class="text-primary input-group-text">
            </div>
        </div>
        <input type="hidden" name="type" value="filter">
    </form>
{% endblock %}
{% block afterbody %}
    <script>
        let ruleGroups = [];

        function addSeqRuleGroup(){
            ruleGroups.push(0)
            let latestGroupId = ruleGroups.length-1
            let newGroup = d3.select('.rules_seq').append('div')
                .attr('id', 'ruleGroup_' + latestGroupId)
                .attr('class', 'border pt-2 pb-2')
            newGroup.append('div')
                .html('<button type="button" class="btn-sm btn-info p-1 m-1" onclick="addSeqRule('+latestGroupId+')">Add a Sequence Rule</button>')
            newGroup.append('div')
                .attr('id', 'rules_'+latestGroupId)

        }
        function addGeneRuleGroup(){
            ruleGroups.push(0)
            let latestGroupId = ruleGroups.length-1
            let newGroup = d3.select('.rules_gene').append('div')
                .attr('id', 'ruleGroup_' + latestGroupId)
                .attr('class', 'border pt-2 pb-2')
            newGroup.append('div')
                .html('<button type="button" class="btn-sm btn-info p-1 m-1" onclick="addGeneRule('+latestGroupId+')">Add a Gene Rule</button>')
            newGroup.append('div')
                .attr('id', 'rules_'+latestGroupId)

        }

        function addSeqRule(group_id){
            ruleGroups[group_id] = ruleGroups[group_id]+1
            let rule_id = ruleGroups[group_id]
            let curr_rule_identifier = ['rule', group_id, rule_id].join('_')

            let newRule = d3.select('#rules_'+group_id)
                .append('div').attr('class', 'input-group')
                .attr('id', curr_rule_identifier).on('keyup', updateRuleInput).on('change', updateRuleInput)
            //Adding rule structure
            newRule.append('span').attr('class', 'input-group-text col-md-5').html('ppm/count')
            newRule.append('select').attr('id', 'option_select').attr('class', 'form-control col-md-2').selectAll('option').data(['<', '≤', '≥', '>', '=']).enter()
                .append('option').text(function(d,i){return d}).attr('value', function(d,i){return d})
            newRule.append('input').attr('value', 0).attr('id', 'data_input').attr('class', 'form-control col-md-2')
            newRule.append('button').attr('class', 'form-control').attr('type', 'button').attr('class','btn btn-danger col-md-3').attr('onclick', "deleteRule('" + curr_rule_identifier + "')").html('Delete')

            d3.select('form').append('input')
                .attr('type', 'hidden')
                .attr('name', 'hidden_'+curr_rule_identifier)
                .attr('id', 'hidden_'+curr_rule_identifier)
                .attr('value', getRuleFromId(curr_rule_identifier))
        }

        function addGeneRule(group_id){
            ruleGroups[group_id] = ruleGroups[group_id]+1
            let rule_id = ruleGroups[group_id]
            let curr_rule_identifier = ['rule', group_id, rule_id].join('_')

            let newRule = d3.select('#rules_'+group_id)
                .append('div').attr('class', 'input-group pb-1')
                .attr('id', curr_rule_identifier).on('keyup', updateRuleInput).on('change', updateRuleInput)
            //Adding rule structure
            newRule.append('select').attr('id', 'option_select').attr('class', 'form-control col-md-2').selectAll('option').data(['Top', 'Bottom']).enter()
                    .append('option').text(function(d,i){return d}).attr('value', function(d,i){return d})
            newRule.append('input').attr('value', 0).attr('id', 'data_input').attr('class', 'form-control col-md-1')
            newRule.append('span').attr('class', 'input-group-text col-md-6')
                .style('font-size', '.8em').text('% of sequences within a gene')
            newRule.append('span').attr('class','btn btn-danger col-md-3 form-control').attr('onclick', "deleteRule('" + curr_rule_identifier + "')").html('Delete')

            console.log(curr_rule_identifier)
            d3.select('form').append('input')
                .attr('type', 'hidden')
                .attr('name', 'hidden_'+curr_rule_identifier)
                .attr('id', 'hidden_'+curr_rule_identifier)
                .attr('value', getRuleFromId(curr_rule_identifier))
        }


        function getRuleFromId(id){
            console.log('grfi')
            let option_select = d3.select('#'+id).select('#option_select option:checked').text()
            let data_input = d3.select('#'+id).select('#data_input').property('value')
            console.log([option_select, data_input].join(';'));
            return [option_select, data_input].join(';')

        }

        function deleteRule(rule_id){
            console.log('delete', rule_id)
            d3.select('#'+rule_id).remove()
            d3.select('#hidden_'+rule_id).remove()
        }

        function updateRuleInput(){
            let rule_id = this.id;
            console.log('ur', rule_id)
            d3.select('#hidden_'+rule_id).remove();
            d3.select('form').append('input')
                .attr('type', 'hidden')
                .attr('name', 'hidden_'+rule_id)
                .attr('id', 'hidden_'+rule_id)
                .attr('value', getRuleFromId(rule_id))

        }
    </script>
    <script>
        data = {{ data | safe}};

        d3.select('#datasets_select').selectAll('option').data(data).enter()
            .append('option').text(function(d){return d})
        d3.select('#length_start').selectAll('option').data(d3.range(14, 36)).enter()
            .append('option').text(function(d){return d})
        d3.select('#length_end').selectAll('option').data(d3.range(14, 36)).enter()
            .append('option').text(function(d){return d})
        d3.select('#length_start').property('value', 21)
        d3.select('#length_end').property('value', 23)
        console.log(data)
    </script>
    <script>
        function fixLengthValue(origin){
            let start = document.getElementById('length_start').value
            let end = document.getElementById('length_end').value
            console.log(start, end)
            if(end < start){
                if(origin=='start'){
                    document.getElementById('length_end').value = start
                }else{
                    document.getElementById('length_start').value = end
                }

            }
        }
    </script>
{% endblock %}
