{% extends "base.html" %}
{% block title %}GOAT{% endblock %}

{% block center %}
    <div class="row">
        <div>
            <a href="/filter">1. Filter Data</a>
        </div><div>
            <a href="/bin">2. Bin Filtered Data to Genes</a>
        </div><div>
            <a href="/compare">3. Compare 2 Datasets</a>
        </div><div>
            <a href="/setops">4. Set Operations</a>
        </div><div>
            <a href="/plot">5. Plotting</a>
        </div>
    </div>
    <div class="border mt-3">
        {% for first, second in data %}
            <div>{{ first | safe }}</div>
        {% endfor %}
    </div>
{% endblock %}


{% block left %}{% endblock %}
{% block right %}{% endblock %}