{% extends "base.html" %}
{% block title %}Set Operations{% endblock %}

{% block center %}
<style>
    .venntooltip {
      position: absolute;
      text-align: center;
      width: 128px;
      height: 24px;
      color: white;
      background:gray;
      padding: 2px;
      border: 0px;
      border-radius: 8px;
      opacity: 0;
    }
</style>

    <form action="/" method="post">
        <div>
            <div class="jumbotron mt-3 mb-2">
              <h1 class="display-4">Set Operations</h1>
              <p class="lead">Find intersection, union, and difference between two selected gene list.</p>
            </div>
            {% include "selection_templates/triple_genelist_selection.html" %}
        </div>

        <input type="hidden" name="type" value="setops">
        <input type="hidden" id="input_groupA" name="groupA" value="">
        <input type="hidden" id="input_groupB" name="groupB" value="">
        <input type="hidden" id="input_groupC" name="groupC" value="">
        <input type="hidden" id="input_groupD" name="groupD" value="">

        <div class="rules"></div>
        <div id="venn_chart"></div>
        <div class="input-group mt-3">
            <span class="input-group-text">Give a name to save</span>
            <input type="text" name="save">
            <input type="submit" class="form-control btn btn-success">
        </div>

    </form>

    <a class="mt-5 h4" href="discover">Alternatively, explore origins of a gene list</a>
{% endblock %}
{% block afterbody %}
    <script src="{{ url_for('static', filename='venn.js') }}"></script>

    <script>
        console.log('setops', 17)


        let ruleGroups = [];

        function addRuleGroup(){
            ruleGroups.push(0)
            let latestGroupId = ruleGroups.length-1
            let newGroup = d3.select('.rules').append('div')
                .attr('id', 'ruleGroup_' + latestGroupId)
                .attr('class', 'border pt-2 pb-2')
            //newGroup.append('div')
                //.html('<button type="button" class="btn-sm btn-info p-1 m-1" onclick="addSetOp('+latestGroupId+')">Add a Set Operation</button>')
            newGroup.append('div')
                .attr('id', 'rules_'+latestGroupId)

        }

        function addSetOp(group_id){
            ruleGroups[group_id] = ruleGroups[group_id]+1
            let option_texts = ['A ∩ B', 'A ∪ B', 'A - B', 'B - A']
            let option_values = ['and', 'or', 'a-b', 'b-a']
            let rule_id = ruleGroups[group_id]
            let curr_rule_identifier = ['rule', group_id, rule_id].join('_')

            let newRule = d3.select('#rules_'+group_id).append('div').attr('class', 'row input-group m-1')
                .attr('id', curr_rule_identifier)
            //Adding rule structure
            let setops_group = newRule.append('div').attr('class', 'col-md-4').append('div').attr('class', 'input-group')
            setops_group.append('div').attr('id', 'operation_select').on('change', updateRuleInput)
                .append('select').attr('class', 'form-control form-select').selectAll('option').data(option_texts).enter()
                    .append('option').text(function(d,i){return d}).attr('value', function(d,i){return option_values[i]})
            setops_group.append('span').attr('class', 'btn btn-primary form-control').html('Preview').attr('onclick', "previewOperation(\'" + curr_rule_identifier + "\')")
                //.append('button').attr('class', 'btn btn-danger form-control').html('preview')
                //.html('<button type="button" class="btn btn-danger form-control" onclick="previewOperation(\'' + curr_rule_identifier + '\')">Preview</button>')

            let output_group = newRule.append('div').attr('class', 'col-md-8').append('div').attr('class', 'row')

            let output = output_group.append('div').attr('class', 'col-md-4').append('div').attr('class', 'input-group')
                output.append('span').attr('class', 'input-group-text').html('#:')
                output.append('span').attr('class', 'form-control').attr('id', 'operation_output')
            let groupA_genes = output_group.append('div').attr('class', 'col-md-4')
                let groupA_genes_top = groupA_genes.append('div').attr('class', 'input-group')
                    groupA_genes_top.append('span').attr('class', 'input-group-text').html('in A:')
                    groupA_genes_top.append('span').attr('class', 'form-control').attr('id', 'groupA_gene_count')
                let groupA_genes_bottom = groupA_genes.append('div').attr('class', 'input-group')
                    groupA_genes_bottom.append('span').attr('class', 'input-group-text').html('in A-B:')
                    groupA_genes_bottom.append('span').attr('class', 'form-control').attr('id', 'groupAminusB_gene_count')
            let groupB_genes = output_group.append('div').attr('class', 'col-md-4')
                let groupB_genes_top = groupB_genes.append('div').attr('class', 'input-group')
                    groupB_genes_top.append('span').attr('class', 'input-group-text').html('in B:')
                    groupB_genes_top.append('span').attr('class', 'form-control').attr('id', 'groupB_gene_count')
                let groupB_genes_bottom = groupB_genes.append('div').attr('class', 'input-group')
                    groupB_genes_bottom.append('span').attr('class', 'input-group-text').html('in B-A:')
                    groupB_genes_bottom.append('span').attr('class', 'form-control').attr('id', 'groupBminusA_gene_count')

            let vennInfoUpper = d3.select('#rules_'+group_id).append('div').attr('class', 'row input-group m-1')
            let vennInfo1 = vennInfoUpper.append('div').attr('class', 'col-md-3').append('div').attr('class', 'input-group')
                vennInfo1.append('span').attr('class', 'input-group-text').html('A ∪ B ∪ C:')
                vennInfo1.append('span').attr('class', 'form-control').attr('id', 'AorBorC')
            let vennInfo2 = vennInfoUpper.append('div').attr('class', 'col-md-3').append('div').attr('class', 'input-group')
                vennInfo2.append('span').attr('class', 'input-group-text').html('A - (B ∪ C):')
                vennInfo2.append('span').attr('class', 'form-control').attr('id', 'AmBorC')
            let vennInfo3 = vennInfoUpper.append('div').attr('class', 'col-md-3').append('div').attr('class', 'input-group')
                vennInfo3.append('span').attr('class', 'input-group-text').html('B - (A ∪ C):')
                vennInfo3.append('span').attr('class', 'form-control').attr('id', 'BmAorC')
            let vennInfo4 = vennInfoUpper.append('div').attr('class', 'col-md-3').append('div').attr('class', 'input-group')
                vennInfo4.append('span').attr('class', 'input-group-text').html('C - (A ∪ B):')
                vennInfo4.append('span').attr('class', 'form-control').attr('id', 'CmAorB')

            let vennInfoLower = d3.select('#rules_'+group_id).append('div').attr('class', 'row input-group m-1')
            let vennInfo5 = vennInfoLower.append('div').attr('class', 'col-md-3').append('div').attr('class', 'input-group')
                vennInfo5.append('span').attr('class', 'input-group-text').html('A ∩ B ∩ C:')
                vennInfo5.append('span').attr('class', 'form-control').attr('id', 'AaBaC')
            let vennInfo6 = vennInfoLower.append('div').attr('class', 'col-md-3').append('div').attr('class', 'input-group')
                vennInfo6.append('span').attr('class', 'input-group-text').html('(A ∩ B) - C:')
                vennInfo6.append('span').attr('class', 'form-control').attr('id', 'AaBmC')
            let vennInfo7 = vennInfoLower.append('div').attr('class', 'col-md-3').append('div').attr('class', 'input-group')
                vennInfo7.append('span').attr('class', 'input-group-text').html('(A ∩ C) - B:')
                vennInfo7.append('span').attr('class', 'form-control').attr('id', 'AaCmB')
            let vennInfo8 = vennInfoLower.append('div').attr('class', 'col-md-3').append('div').attr('class', 'input-group')
                vennInfo8.append('span').attr('class', 'input-group-text').html('(B ∩ C) - A:')
                vennInfo8.append('span').attr('class', 'form-control').attr('id', 'BaCmA')


            d3.select('form').append('input')
                .attr('type', 'hidden')
                .attr('name', 'hidden_operation')
                .attr('id', 'hidden_operation')
                .attr('value', getOperationFromId())
        }


        function getOperationFromId(){
            let data_select = d3.select('#operation_select option:checked').attr('value')
            return data_select;
        }

        function previewOperation(rule_id){
            if(selectedGroups['A'] && selectedGroups['B']){
                let genelistA = d3.select('#groupA').html()+'|'
                let genelistB = d3.select('#groupB').html()+'|'
                let genelistC = d3.select('#groupC').html()+'|'
                let genelistD = d3.select('#groupD').html()+'|'

                let operation = getOperationFromId()
                d3.json('/preview/'+genelistA+'/'+genelistB+'/'+genelistC+'/'+genelistD+'/'+operation).then(function(data){
                    //alert([data['output'].length, data['list_a'].length, data['list_b'].length])
                    d3.select('#groupA_gene_count').html(data['list_a'].length)
                    d3.select('#groupB_gene_count').html(data['list_b'].length)
                    d3.select('#groupAminusB_gene_count').html(data['list_a'].filter(gene=>!data['list_b'].includes(gene)).length)
                    d3.select('#groupBminusA_gene_count').html(data['list_b'].filter(gene=>!data['list_a'].includes(gene)).length)
                    d3.select('#operation_output').html(data['output'].length)


                    let AorBorCorD = [...data['list_a'], ...data['list_b'], ...data['list_c'], ...data['list_d']];
                    let AorB = [...data['list_a'], ...data['list_b']];
                    let AorC = [...data['list_a'], ...data['list_c']];
                    let BorC = [...data['list_b'], ...data['list_c']];
                    let AorD = [...data['list_a'], ...data['list_d']];
                    let BorD = [...data['list_b'], ...data['list_d']];
                    let CorD = [...data['list_c'], ...data['list_d']];
                    let AorBorC = [...data['list_a'], ...data['list_b'], ...data['list_c']];
                    let AorBorD = [...data['list_a'], ...data['list_b'], ...data['list_d']];
                    let AorCorD = [...data['list_a'], ...data['list_c'], ...data['list_d']];
                    let BorCorD = [...data['list_b'], ...data['list_c'], ...data['list_d']];
                    let AaB = data['list_a'].filter(gene=>data['list_b'].includes(gene));
                    let AaC = data['list_a'].filter(gene=>data['list_c'].includes(gene));
                    let BaC = data['list_b'].filter(gene=>data['list_c'].includes(gene));
                    let AaD = data['list_a'].filter(gene=>data['list_d'].includes(gene));
                    let BaD = data['list_b'].filter(gene=>data['list_d'].includes(gene));
                    let CaD = data['list_c'].filter(gene=>data['list_d'].includes(gene));
                    let AaCmB = AaC.filter(gene=>!data['list_b'].includes(gene));
                    let BaCmA = BaC.filter(gene=>!data['list_a'].includes(gene));

                    let AmBorCorD = data['list_a'].filter(gene=>!BorCorD.includes(gene));
                    let BmAorCorD = data['list_b'].filter(gene=>!AorCorD.includes(gene));
                    let CmAorBorD = data['list_c'].filter(gene=>!AorBorD.includes(gene));
                    let DmAorBorC = data['list_d'].filter(gene=>!AorBorC.includes(gene));

                    let AaBaC = AaB.filter(gene=>BaC.includes(gene));
                    let AaBaD = AaB.filter(gene=>BaD.includes(gene));
                    let AaCaD = AaC.filter(gene=>CaD.includes(gene));
                    let BaCaD = BaC.filter(gene=>CaD.includes(gene));

                    let AaBmCorD = AaB.filter(gene=>!CorD.includes(gene));
                    let AaCmBorD = AaC.filter(gene=>!BorD.includes(gene));
                    let AaDmBorC = AaD.filter(gene=>!BorC.includes(gene));
                    let BaCmAorD = BaC.filter(gene=>!AorD.includes(gene));
                    let BaDmAorC = BaD.filter(gene=>!AorC.includes(gene));
                    let CaDmAorB = CaD.filter(gene=>!AorB.includes(gene));

                    let AaBaCmD = AaBaC.filter(gene=>!data['list_d'].includes(gene));
                    let AaBaDmC = AaC.filter(gene=>!data['list_c'].includes(gene));
                    let AaCaDmB = AaD.filter(gene=>!data['list_b'].includes(gene));
                    let BaCaDmA = BaC.filter(gene=>!data['list_a'].includes(gene));

                    let AaBaCaD = AaB.filter(gene=>CaD.includes(gene));


                    d3.select('#AorBorC').html(AorBorC.length)
                    d3.select('#AmBorC').html(AmBorC.length)
                    d3.select('#BmAorC').html(BmAorC.length)
                    d3.select('#CmAorB').html(CmAorB.length)
                    d3.select('#AaBaC').html(AaBaC.length)
                    d3.select('#AaBmC').html(AaBmC.length)
                    d3.select('#AaCmB').html(AaCmB.length)
                    d3.select('#BaCmA').html(BaCmA.length)



                    //let labelConvert = {'list_a':genelistA.replace('|', ''), 'list_b':genelistB.replace('|', ''), 'list_c':genelistC.replace('|', '')}
                    let labelConvert = {}
                    labelConvert['list_a'] = document.getElementById('groupA_label').value.trim() || genelistA.replace('|', '');
                    labelConvert['list_b'] = document.getElementById('groupB_label').value.trim() || genelistB.replace('|', '');
                    labelConvert['list_c'] = document.getElementById('groupC_label').value.trim() || genelistC.replace('|', '');
                    labelConvert['list_d'] = document.getElementById('groupD_label').value.trim() || genelistC.replace('|', '');

                    var sets = []
                    let labels = ['list_a', 'list_b', 'list_c', 'list_d']
                    for(i in labels){
                        let label_i = labels[i]
                        sets.push({sets:[labelConvert[label_i]], size:data[label_i].length})
                        for(j in labels){
                            let label_j = labels[j]
                            if(j>i){
                                sets.push({sets:[labelConvert[label_i], labelConvert[label_j]], size:data[label_i].filter(gene=>data[label_j].includes(gene)).length})
                            }
                        }
                    }
                    var all_data = [data['list_a'], data['list_b'], data['list_c'], data['list_d']];
                    var common_genes = all_data.reduce((a, b) => a.filter(c => b.includes(c)));
                    sets.push({sets:[labelConvert['list_a'], labelConvert['list_b'], labelConvert['list_c'], labelConvert['list_d']], size:common_genes.length})

                    //var sets = [ {sets: ['A'], size: data['list_a'].length},
                    //         {sets: ['B'], size: data['list_a'].length},
                    //         {sets: ['A','B'], size: 2500}];
                    d3.select('svg').remove()

                    var chart = venn.VennDiagram()
                        .width(500)
                        .height(400)



                    var div = d3.select("#venn_chart").datum(sets).call(chart);
                        div.selectAll("text").style("fill", "black");
                        div.selectAll(".venn-circle path")
                                .style("stroke-width", 3)
                                .style("stroke-opacity", 0)
                                .style("stroke", "#fff");



                    var tooltip = d3.select("#venn_chart").append("div")
                        .attr("class", "venntooltip");

                    div.selectAll("g")
                        .on("mouseover", function(m, d) {
                            // sort all the areas relative to the current item
                            venn.sortAreas(div, d);

                            // Display a tooltip with the current size
                            tooltip.style("opacity", 1);
                            tooltip.text(d.size);


                            var selection = d3.select(this);
                            selection.select("path")
                                .style("fill-opacity", d.sets.length === 1 ? .5 : .2)
                                .style("stroke-opacity", 1);
                        })

                        .on("mousemove", function(m, d) {

                            tooltip.style("left", (m.pageX) + "px")
                                   .style("top", (m.pageY - 28) + "px");
                        })

                        .on("mouseout", function(m, d) {
                            tooltip.style("opacity", 0);
                            var selection = d3.select(this);
                            selection.select("path")
                                .style("fill-opacity", d.sets.length === 1 ? .25 : .0)
                                .style("stroke-opacity", 0);
                        });


                })
            }else{
                alert('Please choose gene sets for both Group A and Group B')
            }



        }

        function updateRuleInput(){
            let rule_id = this.parentNode.id;
            d3.select('#hidden_operation').remove();
            d3.select('form').append('input')
                .attr('type', 'hidden')
                .attr('name', 'hidden_operation')
                .attr('id', 'hidden_operation')
                .attr('value', getOperationFromId(rule_id))
            d3.select('#groupA_gene_count').html('')
            d3.select('#groupB_gene_count').html('')
            d3.select('#operation_output').html('')
            d3.select('#groupAminusB_gene_count').html('')
            d3.select('#groupBminusA_gene_count').html('')


        }
        addRuleGroup()
        addSetOp(ruleGroups.length-1)
    </script>


{% endblock %}
